# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
.pytest_cache/

# Datasets
data/*

# Models and checkpoints
models/
models_new/
AnyBURL/path1/
AnyBURL/path_kinship/
AnyBURL/path_kinship_question_input/

# IDE / temp files
*.swp
*.swo
.DS_Store
.vscode/
test_output_squire.txt

# Misc
count_params.py
local/